body{
  font-family: $headingsColor;
  color: $darkColor;
}

header.main-menu {
  position: fixed;
  width: 100%;
  background: #fff;
  overflow: hidden;
  z-index: 10;

  .main-logo {
    width: 25px;
    height: auto;
    margin-right: 10px;
    fill: #62bdfc;
  }

  .a-font {
    font-family: $accentFont;
  }

  .hamburger {
    border: none;
    outline: none;
  }

  .navbar-collapse {
    flex-grow: unset;
  }
}

.hero {
  background: $bgColor;
  background-size: cover;

  .container {
    min-height: 100vh;
    //min-height: 640px;
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    @media (min-width: 768px) {
      padding-top: 0;
      flex-direction: row;
      text-align: left;
    }
  }

  .title {
    margin: 20px 0;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;

    @media (min-width: 425px) {
      font-size: 40px;
    }

    @media (min-width: 768px) {
      font-size: 40px;
    }

    @media (min-width: 1024px) {
      font-size: 50px;
    }

    @media (min-width: 1200px) {
      font-size: 55px;
    }
  }

  .sub-titile {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;

    @media (min-width: 425px) {
      font-size: 16px;
    }
  }
}


